body{
    display: flex;
    flex-direction: row;
}

.asside{
    background-image: url(../assets/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 3rem;
    img{
        width: 20%;
    }
    & h2{
        margin-top: 16px;
        font-family: var(--logo-title);
        color: var(--pink2);
        font-size: 30px;
    } & p
        {
            margin-top: 4px;
            font-family: var(--header-txt);
            color: var(--text);
    }
}

