:root {
    --brand-light: #59B2FF;
    --brand-mid:#3487cf;
    --brand-dark:#1D6FB6;

    /*accent Colors*/
    --puple:#B259FF;
    --pink1: #FF59F9;
    --pink2: #FF598B;
    --orange1: #FF8B59;
    --yellow1: #FFCD59;
    --yellow2: #E1FF59;
    --green1: #59FF91;
    --aqua: #59FFF9;
    --blue: #6A59FF;
    
    /*Feedback*/
    --danger:#FF5959;
    /*inputs*/
    --input-base:#1c1f21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;
    /*text*/
    --text-body: #C8CDD0;
    --text: #f9f9f9;
    /*shape*/
    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;
}